:root {
  //colors
  --ryb-error: #dc4f4b;
  --ryb-white: #fff;
  --ryb-sky-blue: #6dc5e6;
  --ryb-blue-green: #0d96b9;
  --ryb-midnight-blue: #1a3863;
  --ryb-black: #000000;
  --ryb-light: #ebebeb;

  //constants
  --hc-container-gap: 0;
  --hc-container-width: 1640px;
}

@media (max-width: 1920px) {
  :root {
    --hc-container-gap: 140px;
    --hc-container-width: 100%;
  }
}

@media (max-width: 1440px) {
  :root {
    --hc-container-gap: 70px;
  }
}

@media (max-width: 1024px) {
  :root {
    --hc-container-gap: 1rem;
  }
}
